// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(202, 255, 252);
}

h1 {
  color: rgb(255, 0, 55);
  font-family: Georgia, "Times New Roman", Times, serif;
}
